mixin page(page)
	.page
		article.page-block
			h1.page-title
				!= page.title
			.page-content
				- var type = page.type
				- var comments = page.comments

				- if (type != null)
					- if (type === "friends")
						div.friend-list
							- var friends = theme.friends
							- var count = 0
							- for (var title in friends)
								- count += 1
								- if (count == 1)
									.friend-item-0
										h2!=title
										a(href=friends[title])!=friends[title]
									- continue
								.friend-item
									h2!=title
									a(href=friends[title])!=friends[title]
						div.friend-statement
							p!='Please contact me if you want your blog or personal website to appear here <3'